.container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: -webkit-fill-available;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid #8c8c8c;
}
.box {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0rem 2rem 0rem 2rem;
  width: -webkit-fill-available;
}
.item {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.6rem 0rem 0.6rem 0rem;
  min-height: 2.7rem;
}
.item:hover {
  color: var(--primary-color);
  border-bottom: 2.5px solid var(--primary-color);
}
.active {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.6rem 0rem 0.6rem 0rem;
  min-height: 2.7rem;
  color: var(--primary-color);
  border-bottom: 2.5px solid var(--primary-color);
}
