.container_Resume {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: -webkit-fill-available;
  padding-left: 1rem;
  padding-top: 1rem;
}
.container_ResumePart {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: -webkit-fill-available;
}
.container_heading {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}
.heading_heading {
  padding: 0;
  margin: 0;
  font-size: 1.75rem;
  color: #2185d0;
}
.heading_heading::before {
  content: "•";
  font-size: 1.75rem;
  color: #2185d0;
  margin-right: 0.2rem;
}
.container_item {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 2px solid #2185d0;
}
.box_item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.7rem;
  width: -webkit-fill-available;
}
.combine_Item {
  width: -webkit-fill-available;
}
.achievement {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.1rem;
  font-weight: 550;
  width: -webkit-fill-available;
}
.compulsory {
  color: red;
  padding-left: 2px;
  font-weight: 550;
}
.input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: -webkit-fill-available;
}
.submit {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: -webkit-fill-available;
}
.container_PDFPart {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: -webkit-fill-available;
}
.refresh {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: -webkit-fill-available;
  padding-right: 1rem;
  font-size: 1.35rem;
  color: #2185d0;
}
.refreshText {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}
.refreshText:hover .SvgHover {
  animation: animate 1s linear 2;
}
.SvgHover:hover {
  animation: animate 1s linear 2;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
